﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script> @Styles.Render("~/Content/css") @Scripts.Render("~/bundles/modernizr")
    <style>
    </style>
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont"> <img src="~/Content/Img/Logo_Vittoria_Assicurazioni.jpg" class="rounded-circle user_img"> <span class="online_icon"></span> </div>
                            <div class="user_info"> <span>Chat</span> </div>
                            <div class="video_cam"> @*<span><i class="fas fa-video"></i></span> <span><i class="fas fa-phone"></i></span>*@ </div>
                        </div> <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                        <div class="action_menu">
                            <ul>
                                <li><i class="fas fa-user-circle"></i> View profile</li>
                                <li><i class="fas fa-users"></i> Add to close friends</li>
                                <li><i class="fas fa-plus"></i> Add to group</li>
                                <li><i class="fas fa-ban"></i> Block</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-body msg_card_body" id="messaggiCard">
                        @*Messaggio di benvenuto*@
                        <div class="d-flex justify-content-start mb-4" style="margin-left:10px">
                            <div class="img_cont_msg"> <img src="~/Content/Img/Logo_Vittoria_Assicurazioni.jpg" class="rounded-circle user_img_msg"> </div>
                            <div class="msg_cotainer"> Ciao Nicolò Valeriano cosa vuoi fare? <span class="msg_time">8:40 AM, Today</span> </div>
                        </div>
                        @*3 pulsanti di scelta*@
                        <div class="card-body msg_card_body">

                            <div class="d-flex justify-content-start mb-4">
                                <div class="row" style="margin-left:27px">
                                    <button type="button" class="" id="BtnSalaRiunioni" onclick="BtnSalaRiunioni()">Prenotare una sala riunioni</button>
                                    <button type="button" class="" style="margin-left:10px" id="BtnInvitareOspite" onclick="BtnInvitareOspite()">Invitare un ospite</button>
                                    <button type="button" class="" style="margin-left:10px" id="BtnCreareConference" onclick="BtnCreareConference()">Creare una conference</button>
                                </div>
                            </div>
                            @*Pulsante di conferma scelta*@
                            <div class="btn" style="margin-left:472px; visibility:hidden" id="BtnConferma" onclick="checkButton()">
                                <div class="container">
                                    <div id="BtnConfermaTick" class="tick">
                                        Conferma
                                    </div>
                                </div>
                            </div>
                            @*<button type="button" class="btn" style="margin-left:10px; display:none" id="BtnConferma" onclick="checkButton()">Conferma</button>*@
                            @*Domanda Vittoria sulle ore di durata riunione*@
                            <div id="PrenotazioneSala" class="d-flex justify-content-start mb-4"></div>
                            <div id="PrenotazioneSala2" class="d-flex justify-content-start mb-4"></div>
                            @*Riposta utente sulle ore di durata della riunione*@
                            <div id="RispostaPartecipanti" class="d-flex justify-content-end mb-4" style="visibility:hidden">
                                <div class="msg_cotainer_send">
                                    <p id="demo"></p> <span class="msg_time_send">9:05 AM, Today</span>
                                </div>
                                <div class="img_cont_msg"> <img src="~/Content/Img/user.png" class="rounded-circle user_img_msg"> </div>
                            </div>
                            @*Domanda Vittoria sui partecipanti alla riunione: inserimento nomi*@
                            <div id="ConfermaPartecipanti" class="d-flex justify-content-start mb-4"></div>
                            @*Risposta utente sui partecipanti alla riunione: inserimento nomi*@
                            <div id="PartecipantiRiunione" class="d-flex justify-content-end mb-4" style="visibility:hidden">
                                <div class="msg_cotainer_send">
                                    <p id="demo2"></p> <span class="msg_time_send">9:05 AM, Today</span>
                                </div>
                                <div class="img_cont_msg"> <img src="~/Content/Img/user.png" class="rounded-circle user_img_msg"> </div>
                            </div>
                            @*Domanda Vittoria sui partecipanti inseriti: azienda esterno*@
                            <div id="EsternoNonCensito" class="d-flex justify-content-start mb-4"></div>
                            @*Risposta utente sull'azienda dell'utente non censito*@
                            <div id="Azienda" class="d-flex justify-content-end mb-4" style="visibility:hidden">
                                <div class="msg_cotainer_send">
                                    <p id="demo3"></p> <span class="msg_time_send">9:05 AM, Today</span>
                                </div>
                                <div class="img_cont_msg"> <img src="~/Content/Img/user.png" class="rounded-circle user_img_msg"> </div>
                            </div>
                            @*Domanda Vittoria sulla conferma della sala*@
                            <div id="ConfermaSala" class="d-flex justify-content-start mb-4"></div>
                            @*Pulsanti Vittoria sulla conferma della sala*@
                            <div class="d-flex justify-content-start mb-4" id="ConfermaPrenotazione" style="visibility:hidden">
                                <div class="row" style="margin-left:375px" id="rowButton">
                                    <button type="button" class="" style="margin-left:10px" id="BtnConfermaSala" onclick="ConfermaSala()">Conferma</button>
                                    <button type="button" class="" style="margin-left:10px" id="BtnModificaSala" onclick="BtnModificaSala()">Cerca altra sala</button>
                                </div>
                            </div>
                            @*---CONFERMA---------------------------------------------------------------------------------------------------------------------*@
                            @*Conferma Vittoria sull'invio delle credenziali per mail*@
                            <div id="ConfermaMail" class="d-flex justify-content-start mb-4"></div>
                            @*Pulsanti Vittoria conferma invio credenziali altri partecipanti*@
                            <div class="d-flex justify-content-start mb-4" id="InvioCredenziali" style="visibility:hidden">
                                <div class="row" style="margin-left:368px">
                                    <button type="button" class="" style="margin-left:10px" id="SiInvioCredenziali" onclick="SiInvio()">Si</button>
                                    <button type="button" class="" style="margin-left:10px" id="NoInvioCredenziali" onclick="NoInvio()">No</button>
                                </div>
                            </div>
                            @*Conferma partecipanti Vittoria sull'invio delle credenziali per mail*@
                            <div id="ConfermaPrtecipantiInvioMail" class="d-flex justify-content-start mb-4"></div>
                            <div id="ListaPartecipanti" style="margin-top:10px;" @*class="d-flex justify-content-start mb-4"*@></div>

                            @*Pulsante di conferma scelta*@
                            <div class="btn" style="margin-left:472px; visibility:hidden; margin-top:25px;" id="BtnConfermaInvio" onclick="ConfermaInvioCredenziali()">
                                <div class="container">
                                    <div id="BtnConfermaInvioTick" class="tick">
                                        Conferma
                                    </div>
                                </div>
                            </div>


                            <div id="ConfermaInvio" style="margin-top:10px;" class="d-flex justify-content-start mb-4"></div>

                            <div id="riepilogoConversazione" style="margin-top: -50px">
                                <div id="Riepilogo" class="d-flex justify-content-start mb-4" style="margin-top: 20px;"></div>
                                <div id="Saluti" class="d-flex justify-content-start mb-4" style="margin-top: 20px;"></div>
                            </div>

                        </div>
                        </div>
                    <div class="card-footer" id="messageBox" style="position: sticky;">
                        <div class="input-group">
                            <div class="row" style="margin-left: 25px;">
                                <textarea name="" id="messageText" class="form-control type_msg" placeholder="Type your message..."></textarea>
                                <div class="input-group-append"> <span class="input-group-text send_btn" id="FirstButton" onclick="myFunction()"><i class="fas fa-location-arrow"></i></span> </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> @RenderBody() @Scripts.Render("~/bundles/jquery") @Scripts.Render("~/bundles/bootstrap") @RenderSection("scripts", required: false)
    <script>


        var PrenotareSalaRiunioni = [];
        var InvitareOspite = [];
        var CreareConference = [];
        var OreRiunione = [];
        var AziendaEsterno = [];
        var SalaRiunioni = [];
        var invioPartecipantiCredenziali = []
        var pulsantiScelti = [];
        var partecipantiRiunione = []; /*Array da modificare*/
        var PatecipantiAll = []
        var AllButtonRiepilogo = []

        

        //Se viene cliccato il pulsante SALA RIUNIONI diventa verde
        function BtnSalaRiunioni() {
            $('#BtnSalaRiunioni').toggleClass('active');
            var x = document.getElementById('BtnConferma')
            if (x.style.visibility === "hidden") {
                x.style.visibility = "visible";
            }
            PrenotareSalaRiunioni.push('Prenotazione sala riunioni')
        }   

        //Se viene cliccato il pulsante INVITARE UN OSPITE diventa verde
        function BtnInvitareOspite() {
            $('#BtnInvitareOspite').toggleClass('active');
            var x = document.getElementById('BtnConferma')
            if (x.style.visibility === "hidden") {
                x.style.visibility = "visible";
            }
            InvitareOspite.push('Invitare un ospite')
        };

         //Se viene cliccato il CREARE UNA CONFERENCE pulsante diventa verde
        function BtnCreareConference() {
            $('#BtnCreareConference').toggleClass('active');
            var x = document.getElementById('BtnConferma')
            if (x.style.visibility === "hidden") {
                x.style.visibility = "visible";
            }
            CreareConference.push('Creare una conference')
        };

        //Button Conferma, animazione (domanda ore riunione)
        function checkButton() {            
            var a = Boolean;
            var b = Boolean;
            var c = Boolean;
            a = $('#BtnSalaRiunioni').hasClass('active');
            b = $('#BtnInvitareOspite').hasClass('active');
            c = $('#BtnCreareConference').hasClass('active');
            if (a || b || c == true) {
                let button = document.getElementById('BtnConferma');
                let buttonText = document.getElementById('BtnConfermaTick');
                const tickMark = "<i class='fas fa-check' style='color:white; '>";
                buttonText.innerHTML = "Conferma";
                button.addEventListener('click', function () {
                    if (buttonText.innerHTML !== "Conferma") {
                        buttonText.innerHTML = "Submit";      
                    } else if (buttonText.innerHTML === "Conferma") {
                        buttonText.innerHTML = tickMark;
                        setTimeout(function () {
                            $('#BtnConferma').toggle();
                            $("#PrenotazioneSala").append("<div class='img_cont_msg'><img src='./Content/Img/Logo_Vittoria_Assicurazioni.jpg' class= 'rounded-circle user_img_msg'></div><div class='msg_cotainer'>Ok, iniziamo! Quante ore durerà la riunione ?<p class='testoCorsivo'>(Inserisci un numero compreso tra 0 e 8, lo 0 indica 30 minuti)</p><span class='msg_time'>8:40 AM, Today</span>")
                          }, 1500);

                        document.getElementById("BtnSalaRiunioni").style.pointerEvents = "none";
                        document.getElementById("BtnInvitareOspite").style.pointerEvents = "none";
                        document.getElementById("BtnCreareConference").style.pointerEvents = "none";
                        


                    }
                    this.classList.toggle('btn__circle');
                });
                
            } else {
            }
        }

        // Domanda Partecipanti (compilazione textBox, domanda partecipanti)
        function myFunction() {
            var n = document.getElementById("messageText").value;
            OreRiunione.push(n)
            var x = document.getElementById("RispostaPartecipanti");
            if (x.style.visibility === "hidden") {
                setTimeout(function () {
                    x.style.visibility = "visible";
                    document.getElementById("demo").innerHTML = n;
                }, 200);
                setTimeout(function () {
                    $("#ConfermaPartecipanti").append("<div class='img_cont_msg'><img src='./Content/Img/Logo_Vittoria_Assicurazioni.jpg' class= 'rounded-circle user_img_msg'></div><div class='msg_cotainer'>Ok, chi dovrà partecipare a questa riunione di " + n.toString() + " ore ? <p class='testoCorsivo'>(Inserisci il nome di tutti gli utenti interni o esterni)</p><span class='msg_time'>8:40 AM, Today</span>")
                }, 2000);
                var clickval = $("#FirstButton").attr("onclick");
                $("#FirstButton").attr("onclick", clickval.replace('myFunction()', 'myFunction2()'));
                document.getElementById("messageText").value = "";

            } else {
                x.style.visibility = "hidden";
            }
        };

        // Se viene inserita la stringa "Marco Milita" domanda utente esterno; conferma sala button
        function myFunction2() {
            var partecipantiNonCensiti = 'Marco Milita'
            var n = document.getElementById("messageText").value;
            partecipantiRiunione.push(n)
            var x = document.getElementById("PartecipantiRiunione");
            if (x.style.visibility === "hidden") {
                setTimeout(function () {
                    x.style.visibility = "visible";
                    document.getElementById("demo2").innerHTML = n;
                }, 200);
                if (n.includes(partecipantiNonCensiti)) {
                    setTimeout(function () {
                        $("#EsternoNonCensito").append("<div class='img_cont_msg'><img src='./Content/Img/Logo_Vittoria_Assicurazioni.jpg' class= 'rounded-circle user_img_msg'></div><div class='msg_cotainer'>" + partecipantiNonCensiti + " è un visitatore esterno ma non è ancora stato censito in Accesso Ospiti. Mi dici per quale azienda lavora ?<span class='msg_time'>8:40 AM, Today</span>")
                    }, 2000);
                    AziendaEsterno.push(n)
                    var clickval = $("#FirstButton").attr("onclick");
                    $("#FirstButton").attr("onclick", clickval.replace('myFunction2()', 'myFunction3()'));
                    document.getElementById("messageText").value = "";

                } else {
                    setTimeout(function () {
                        $("#EsternoNonCensito").append("<div class='img_cont_msg'><img src='./Content/Img/Logo_Vittoria_Assicurazioni.jpg' class= 'rounded-circle user_img_msg'></div><div class='msg_cotainer'>Ok, ho cercato nel sistema e la prima sala disponibile per 2 ore è la Sala Terra, domani dalle 14.30 alle 16.30. Vuoi confermarla ?<span class='msg_time'>8:40 AM, Today</span>")
                    }, 2000);
                    setTimeout(function () {
                        var ConfermaSala = document.getElementById("ConfermaPrenotazione")
                        if (ConfermaSala.style.visibility == 'hidden') {
                            ConfermaSala.style.visibility = "visible";
                            document.getElementById("ConfermaPrenotazione").style.marginTop = "-65px";
                        }
                    }, 2100);
                    SalaRiunioni.push('Sala Terra')
                    var clickval = $("#FirstButton").attr("onclick");
                    $("#FirstButton").attr("onclick", clickval.replace('myFunction2()', 'myFunction4()'));
                    document.getElementById("messageText").value = "";

                }
              
            } else {
                x.style.visibility = "hidden";
            }
        };

        // Risposta prima sala disponibile
        function myFunction3() {
            var n = document.getElementById("messageText").value;
            var x = document.getElementById("Azienda");
            if (x.style.visibility === "hidden") {
                setTimeout(function () {
                    x.style.visibility = "visible";
                    document.getElementById("demo3").innerHTML = n;
                }, 200);
                setTimeout(function () {
                    $("#ConfermaSala").append("<div class='d-flex justify-content-start mb-4'<div class='img_cont_msg'><img src='./Content/Img/Logo_Vittoria_Assicurazioni.jpg' class= 'rounded-circle user_img_msg'></div><div class='msg_cotainer'>Ok, ho cercato nel sistema e la prima sala disponibile per 2 ore è la Sala Terra, domani dalle 14.30 alle 16.30. <br> Vuoi confermarla ?<span class='msg_time'>8:40 AM, Today</span></div>")
                }, 2000);
                setTimeout(function () {
                    var ConfermaSala = document.getElementById("ConfermaPrenotazione")
                    if (ConfermaSala.style.visibility == 'hidden') {
                        ConfermaSala.style.visibility = "visible";
                        } 
                }, 2100);
                SalaRiunioni.push('Sala Terra')
                var clickval = $("#FirstButton").attr("onclick");
                $("#FirstButton").attr("onclick", clickval.replace('myFunction3()', 'myFunction4()'));
                document.getElementById("messageText").value = "";

    
                
            } else {
                x.style.visibility = "hidden";
            }
        };

        //Button Modifica Sala
        function BtnModificaSala() {
            $('#BtnModificaSala').toggleClass('active');
            if ($('#BtnModificaSala').hasClass('active')) {
                $('#BtnConferma').toggle();
            }
        };

        //Button Conferma Sala
        function ConfermaSala() {
            $('#BtnConfermaSala').toggleClass('active');
            if ($('#BtnConfermaSala').hasClass('active')) {
                $('#BtnConferma').toggle();
                setTimeout(function () {
                    $("#ConfermaMail").append("<div class='d-flex justify-content-start mb-4'<div class='img_cont_msg'><img src='./Content/Img/Logo_Vittoria_Assicurazioni.jpg' class= 'rounded-circle user_img_msg'></div><div class='msg_cotainer'>Ok, le credenziali per la conference call sono 41258 (password 12345), te le ho inviate anche per email. <br> Vuoi condividerle con qualcun altro dei partecipanti ?<span class='msg_time'>8:40 AM, Today</span></div>")
                }, 2000);  
                setTimeout(function () {
                    var ConfermaInvioMail = document.getElementById("InvioCredenziali")
                    if (ConfermaInvioMail.style.visibility == 'hidden') {
                        ConfermaInvioMail.style.visibility = "visible";
                    }
                }, 2100);
                document.getElementById("BtnConfermaSala").style.pointerEvents = "none";
                document.getElementById("BtnModificaSala").style.pointerEvents = "none";

            }
        }

        //Lista partecipanti inseritti alla riunione e selezione invio credenziali conference
        function SiInvio() {
            $('#SiInvioCredenziali').toggleClass('active');
            if ($('#SiInvioCredenziali').hasClass('active')) {
                //$('#BtnConferma').toggle();
                setTimeout(function () {
                    $("#ConfermaPrtecipantiInvioMail").append("<div class='d-flex justify-content-start mb-4'<div class='img_cont_msg'><img src='./Content/Img/Logo_Vittoria_Assicurazioni.jpg' class= 'rounded-circle user_img_msg'></div><div class='msg_cotainer'>Questa è la lista dei partecipanti da te scelti; a quale vuoi inviare le credenziali?!<span class='msg_time'>8:40 AM, Today</span></div>")
                }, 2000);
                ModifyArraypartecipantiRiunione()

                setTimeout(function () {
                    for (var i = 0; i < PatecipantiAll.length; i++) {

                        var button = document.createElement('button');
                        button.setAttribute('type', 'button');
                        button.setAttribute('style', 'margin-left: 15px; margin-top: 15px;');
                        button.setAttribute('class', 'btnConferenceCredenziali');
                        button.setAttribute('onclick', 'CredenzialiPartecipanti()');
                        button.setAttribute('value', PatecipantiAll[i]);
                        button.textContent =  PatecipantiAll[i] ;
                        document.getElementById('ListaPartecipanti').append(button);
                    }
                }, 2500);

                setTimeout(function () {
                    var ConfermaInvioCredenziali = document.getElementById("BtnConfermaInvio")
                    if (ConfermaInvioCredenziali.style.visibility == 'hidden') {
                        ConfermaInvioCredenziali.style.visibility = "visible";
                    }
                }, 2700);

                document.getElementById("SiInvioCredenziali").style.pointerEvents = "none";
                document.getElementById("NoInvioCredenziali").style.pointerEvents = "none";



                }            
        }

        function NoInvio() {
            //Allriepilogo();
        }


        //Lista dei possibili partecipanti alla riunione
        function ModifyArraypartecipantiRiunione() {

                    var Valeriano = "Nicolò Valeriano";
                    var Pasini = "Christian Pasini";
                    var Milita = "Marco Milita";
                    var Silva = "Matteo Silva";
                    var Carlo = "Carlo Tordella"
                    var Antonio = "Antonio Genovese"

                    if (partecipantiRiunione[0].includes(Valeriano)) {
                        PatecipantiAll.push(Valeriano)
                        console.log('Valeriano presente')
                    } else {
                        console.log('Valeriano NON presente')
                    }

                    if (partecipantiRiunione[0].includes(Pasini)) {
                        PatecipantiAll.push(Pasini)
                        console.log('Pasini presente')
                    } else {
                        console.log('Pasini NON presente')
                    }

                    if (partecipantiRiunione[0].includes(Milita)) {
                        PatecipantiAll.push(Milita)
                        console.log('Milita presente')
                    } else {
                        console.log('Milita NON presente')
                    }

                    if (partecipantiRiunione[0].includes(Silva)) {
                        PatecipantiAll.push(Silva)
                        console.log('Silva presente')
                    } else {
                        console.log('Silva NON presente')
                    }
                    if (partecipantiRiunione[0].includes(Carlo)) {
                        PatecipantiAll.push(Carlo)
                        console.log('Carlo presente')
                    } else {
                        console.log('Carlo NON presente')
                    }
                    if (partecipantiRiunione[0].includes(Antonio)) {
                        PatecipantiAll.push(Antonio)
                        console.log('Antonio presente')
                    } else {
                        console.log('Antonio NON presente')
                    }

                }
            
        function CredenzialiPartecipanti() {

            var a = document.getElementsByClassName("btnConferenceCredenziali")[0];
            var b = document.getElementsByClassName("btnConferenceCredenziali")[1];
            var c = document.getElementsByClassName("btnConferenceCredenziali")[2];
            var d = document.getElementsByClassName("btnConferenceCredenziali")[3];
            var e = document.getElementsByClassName("btnConferenceCredenziali")[4];
            var f = document.getElementsByClassName("btnConferenceCredenziali")[5];
            var g = document.getElementsByClassName("btnConferenceCredenziali")[6];
            var h = document.getElementsByClassName("btnConferenceCredenziali")[7];
            var i = document.getElementsByClassName("btnConferenceCredenziali")[8];



            $(a).click(function () {
                $(a).toggleClass('active');
                if ($(a).hasClass('active')) {
                    invioPartecipantiCredenziali.push($(a).text())
                }
                
            });

            $(b).click(function () {
                $(b).toggleClass('active');
                if ($(b).hasClass('active')) {
                    invioPartecipantiCredenziali.push($(b).text())
                }
            });

            $(c).click(function () {
                $(c).toggleClass('active');
                if ($(c).hasClass('active')) {
                    invioPartecipantiCredenziali.push($(c).text())
                }
            });

            $(d).click(function () {
                $(d).toggleClass('active');
                if ($(d).hasClass('active')) {
                    invioPartecipantiCredenziali.push($(d).text())
                }
            });

            $(e).click(function () {
                $(e).toggleClass('active');
                if ($(e).hasClass('active')) {
                    invioPartecipantiCredenziali.push($(e).text())
                }
            });

            $(f).click(function () {
                $(f).toggleClass('active');
                if ($(f).hasClass('active')) {
                    invioPartecipantiCredenziali.push($(f).text())
                }
            });

            $(g).click(function () {
                $(g).toggleClass('active');
                if ($(g).hasClass('active')) {
                    invioPartecipantiCredenziali.push($(g).text())
                }
            });

            $(h).click(function () {
                $(h).toggleClass('active');
                if ($(h).hasClass('active')) {
                    invioPartecipantiCredenziali.push($(h).text())
                }
            });

            $(i).click(function () {
                $(i).toggleClass('active');
                if ($(i).hasClass('active')) {
                    invioPartecipantiCredenziali.push($(i).text())
                }
            });
            
            
            
        }

        //Button conferma partecipanti
        function ConfermaInvioCredenziali() {

            var a = document.getElementsByClassName("btnConferenceCredenziali")[0];
            var b = document.getElementsByClassName("btnConferenceCredenziali")[1];
            var c = document.getElementsByClassName("btnConferenceCredenziali")[2];
            var d = document.getElementsByClassName("btnConferenceCredenziali")[3];
            var e = document.getElementsByClassName("btnConferenceCredenziali")[4];
            var f = document.getElementsByClassName("btnConferenceCredenziali")[5];
            var g = document.getElementsByClassName("btnConferenceCredenziali")[6];
            var h = document.getElementsByClassName("btnConferenceCredenziali")[7];
            var i = document.getElementsByClassName("btnConferenceCredenziali")[8];


            if ($(a).hasClass('active') || $(b).hasClass('active') || $(c).hasClass('active') || $(d).hasClass('active') || $(e).hasClass('active') || $(f).hasClass('active') || $(g).hasClass('active') || $(h).hasClass('active') || $(i).hasClass('active')) {

                let button = document.getElementById('BtnConfermaInvio');
                let buttonText = document.getElementById('BtnConfermaInvioTick');
                const tickMark = "<i class='fas fa-check' style='color:white;'>";
                buttonText.innerHTML = "Conferma";
                button.addEventListener('click', function () {
                    if (buttonText.innerHTML !== "Conferma") {
                        buttonText.innerHTML = "Submit";
                    } else if (buttonText.innerHTML === "Conferma") {
                        buttonText.innerHTML = "<i class='fas fa-check' style='color:white;'>";

                        setTimeout(function () {
                            Allriepilogo()
                        }, 1500);

                        //document.getElementsByClassName("BtnConfermaSala").style.pointerEvents = "none";
                    }
                    this.classList.toggle('btn__circle');
                });

            }
        }

        function Allriepilogo() {

            AllButtonRiepilogo.push(PrenotareSalaRiunioni[0])
            AllButtonRiepilogo.push(InvitareOspite[0])
            AllButtonRiepilogo.push(CreareConference[0])
            var uniqueNames = [];
            $.each(invioPartecipantiCredenziali, function (i, el) {
                if ($.inArray(el, uniqueNames) === -1) uniqueNames.push(el);
            })
            setTimeout(function () {
                $("#Riepilogo").append("<div class='d-flex justify-content-start mb-4'<div class='img_cont_msg'><img src='./Content/Img/Logo_Vittoria_Assicurazioni.jpg' class= 'rounded-circle user_img_msg'></div><div class='msg_cotainer'><p style='text-decoration: underline;'>Riepilogo della nostra conversazione</p><br>" + "Obbiettivo conversazione: <p style = 'font-weight:bold'> " + AllButtonRiepilogo + "</p></br>" + "Durata della riunione: <p style='font-weight:bold'> " + OreRiunione + " ore" + "</p></br>" + "Partecipanti riunione: " + "<p style ='font-weight:bold' > " + PatecipantiAll + "</p></br>" + "Luogo della riunione : <p style='font-weight:bold'>Sala Terra domani dalle 14.30 alle 16.30</p></br>" + "Credenziali conference inviate a  : <p style='font-weight:bold'>" + uniqueNames + "</p></br><span class='msg_time'>8:40 AM, Today</span></div>")
            }, 1200);
            setTimeout(function () {
                $("#Saluti").append("<div class='d-flex justify-content-start mb-4'<div class='img_cont_msg'><img src='./Content/Img/Logo_Vittoria_Assicurazioni.jpg' class= 'rounded-circle user_img_msg'></div><div class='msg_cotainer'>Grazie e buona giornata!<span class='msg_time'>8:40 AM, Today</span></div>")
            }, 1400);


           
        }


            

    </script>
</body>
</html>